body {
  margin: 0;
  font-family: "Verdana";
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #d6f3d0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.player {
  background-color: #007000;
  color: #fff70a;
  font-weight: 700;
}

.match-display {
  padding-left: 5%;
  padding-right: 5%
}

.col-mid-3 {
  width: 15%;
}

.row {
  padding-left: 5%;
}

.padding-right-3 {
  padding-right: 3%
}

.centred {
  text-align: center;
}

.divider {
  height: 5%;
  background-color: #cdb332;
}